:root {
    --container-color: rgba(60, 55, 65, .7);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    color: rgba(255, 255, 255, .8);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: url(../img/gradient.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: var(--container-color);
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top: 33%;
    margin-top: -10rem;
    width: 35rem;
    height: 45rem;
}

#img {
    border-radius: 100%;
    width: 14rem;
    height: 14rem;
    margin: 4.5rem auto auto auto;
}

#name {
    margin: auto .6rem;
}

#skills {
    margin: 1rem;
    display: grid;
}

#svg {
    display: flex;
    gap: 5rem;
    justify-content: center;
    list-style: none;
    padding: 0;
    }

#copyright {
    margin: .7rem 0;
    font-size: 1.5rem;
}
